@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Roboto:wght@500&display=swap');


.logout{
    margin-right: 90%;
}

.home{
    text-align: center;
    background-color: rgb(59, 59, 59);
    min-height: 100vh;
    overflow-x: hidden;
    
}



.header{
    font-weight:bold;
    font-family:"Josefin Sans";
    font-size: 50px;
    color:white;
    margin-top: 30px;
    margin-bottom: 10px;
    background-image: url("https://i.redd.it/3t88melm5eb01.jpg");
    margin-left: 20%;
    margin-right:20%;
    border-radius: 10px;

}

.search {
    font-family:Roboto;
   margin-bottom: 30px;
   color: white;
   margin-top: 20px;
  
 
  
  }

.search img{
    width:30px;
    height:auto;
    border-radius: 10px;
    margin-right: 5px;
    background:white;
    border-radius: 10px;
    border-color:rgb(196, 0, 0);
  border-style: solid;
  border-width: 3px;
}
  
  .search:hover *{
    transition:200ms;
    transform: scale(1.01);
  }

  #searchBar{
      width: 40%;
      height: 40px;
      color: gray;
      border-radius: 10px;
      border-color:rgb(194, 0, 0);
    border-style: ridge;
    border-width: 3px;
  }

  .searchResult{
    text-align: center;
  
  }

 .noPlaylists{
    font-size: 30px;
    color: white;
    margin: 20px 20% 0px 20%;
 }
 

 .playlistHeader{
   margin-right: 53%;
   color:white;

   font-family: Roboto;
 }

 #close{
   margin-right:56%
 }

 @media (max-width:768px){
	.header{
    font-size:30px;
  }
  .noPlaylists{
    font-size:20px;
  }
}